

#BottomBar{
    position: fixed;
    bottom: 0%;
    width: 70vw;
    height: 12vh;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 15vw;
    padding-right: 15vw;
    background: linear-gradient(to right, #3e0c0c, #661414, #661414, #661414, #661414, #661414, #661414, #661414, #661414, #3e0c0c );
}

#BottomBar *{
    flex-grow: 1;
    height: 10vh;
    background-color: transparent;
    color: white;
    border: none; 
}
#BottomBar *:hover{
    background-color: #4d0f0f;
}
#BottomBar *:active{
    background-color: #300909;
}

.NavButton{
    flex-grow: 1;
    width: 95%;
    font-size: larger;
}